.walletGemDetails_container {
    width: 100%;
    background-color: #040923;

    .main_wrap {
        width: 100%;
        padding: 0 36px 36px;

        .back_prev {
            width: 100%;
            height: 84px;
            display: flex;
            align-items: center;

            .back {
                height: 60px;
                display: flex;
                align-items: center;

                .arrowleft {
                    font-size: 28px;
                    color: #8A8A8A;
                }

                span {
                    font-size: 28px;
                    font-family: 'DIN-Alternate-Bold';
                    color: #8A8A8A;
                    margin-left: 10px;
                }
            }
        }

        .center_box {

            .top_wrap {
                width: 500px;
                width: 100%;

                .hero_info {
                    width: 100%;
                    background: #000E1F;
                    border-radius: 14px;
                    border: 1px solid #003352;
                    padding: 30px 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .info {
                        flex: 1;
                        height: 90px;
                        padding: 0 35px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .topinfo {
                            display: flex;
                            align-items: center;

                            .rarity {
                                width: 104px;

                                img {
                                    height: 34px;
                                }
                            }

                            .name {
                                font-size: 28px;
                                font-family: 'DIN-Alternate-Bold';
                                font-weight: bold;
                                color: #FFFFFF;
                            }
                        }

                        .botinfo {
                            display: flex;
                            align-items: center;

                            .tit {
                                width: 104px;
                                font-size: 24px;
                                font-family: 'DIN-Alternate-Bold';
                                font-weight: bold;
                                color: #8A8A8A;
                            }

                            .txt {
                                font-size: 24px;
                                font-family: 'DIN-Alternate-Bold';
                                font-weight: bold;
                                color: #FFFFFF;
                            }
                        }
                    }

                    .tokenid {
                        width: 206px;
                        height: 90px;
                        border-left: 1px solid #003352;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;

                        span:first-child {
                            font-size: 28px;
                            font-family: 'DIN-Alternate-Bold';
                            font-weight: bold;
                            color: #8A8A8A;
                        }

                        span:last-child {
                            font-size: 28px;
                            font-family: 'DIN-Alternate-Bold';
                            font-weight: bold;
                            color: #FFFFFF;
                        }
                    }
                }

                .hero_shuxing {
                    height: 50px;
                    display: flex;
                    align-items: center;
                    margin-top: 28px;

                    .left {
                        display: flex;
                        align-items: center;

                        .colortype {
                            width: 90px;
                            height: 30px;
                            border-radius: 6px 6px 6px 6px;
                            font-size: 24px;
                            font-family: 'DIN-Alternate-Bold';
                            font-weight: bold;
                            color: #040923;
                            text-align: center;
                            line-height: 30px;
                            margin-right: 14px;
                        }

                        .bgc1 {
                            background: linear-gradient(307deg, #F03434 0%, #FF6060 100%);
                        }

                        .bgc2 {
                            background: linear-gradient(307deg, #FFDE59 0%, #FFBC14 100%);
                        }

                        .bgc3 {
                            background: linear-gradient(307deg, #2475C7 0%, #3A8FD8 100%);
                        }

                        .bgc4 {
                            background: linear-gradient(307deg, #79D83A 0%, #49C724 100%);
                        }

                        .bgc5 {
                            background: linear-gradient(307deg, #E68DB9 0%, #CE74AF 100%);
                        }

                        .grade {
                            font-size: 28px;
                            font-family: 'DIN-Alternate-Bold';
                            font-weight: bold;
                            color: #FFFFFF;
                        }
                    }
                }

                .hero_img_wrap {
                    height: 300px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        height: 70%;
                    }
                }

                .hero_buy_wrap {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .current_price {
                        height: 40px;
                        display: flex;
                        align-items: center;

                        .tit {
                            font-size: 28px;
                            font-family: 'DIN-Alternate-Bold';
                            color: #FFF;
                            margin-right: 17px;
                        }

                        .price {
                            display: flex;
                            align-items: center;

                            .bnb_price {
                                display: flex;
                                align-items: center;

                                img {
                                    width: 28px;
                                    height: 28px;
                                }

                                .num {
                                    font-size: 28px;
                                    font-family: 'DIN-Alternate-Bold';
                                    color: #367CFF;
                                    margin-left: 4px;
                                }
                            }

                            .meiyuan {
                                font-size: 24px;
                                font-family: 'DIN-Alternate-Bold';
                                color: #B9B9B9;
                                margin-left: 4px;
                            }
                        }
                    }

                    .btn_wrap {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        .btn {
                            width: 332px;
                            height: 64px;
                            border-radius: 6px;
                            margin-top: 24px;

                            span {
                                font-size: 32px;
                                font-family: 'DIN-Alternate-Bold';
                                font-weight: bold;
                                color: #FFFFFF;
                            }
                        }

                        .btn1 {
                            background: #367CFF;
                        }

                        .btn2 {
                            background: transparent !important;
                            border: 1px solid #367CFF;
                            color: #367CFF;
                        }

                        .btn::after {
                            background: red;
                            box-shadow: 0 0 0 0 red;
                        }
                    }

                    .justify-content-center {
                        justify-content: center;
                    }
                }
            }

            .bot_wrap {
                width: 100%;

                .history_box {
                    width: 100%;
                    background: #000E1F;
                    border-radius: 14px;
                    border: 1px solid #003352;
                    margin-top: 48px;

                    p.title {
                        height: 52px;
                        display: flex;
                        align-items: flex-end;
                        padding: 0 40px;
                        margin-bottom: 25px;

                        img {
                            width: 22px;
                        }

                        span {
                            font-size: 24px;
                            font-family: 'DIN-Alternate-Bold';
                            font-weight: bold;
                            color: #FFFFFF;
                            margin-left: 10px;
                        }
                    }

                    .w33 {
                        width: 33.333333%;
                    }

                    ul.history_list {
                        padding: 0 34px 30px;

                        li {
                            width: 100%;
                            border-radius: 16px;
                            border: 1px solid #003352;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-size: 16px;
                            font-family: 'DIN-Alternate-Bold';
                            font-weight: bold;
                            color: #FFFFFF;
                            padding: 30px 30px;

                            .item {
                                display: flex;
                                flex-direction: column;

                                .tit {
                                    font-size: 24px;
                                    font-family: 'Bertha-Regular';
                                    font-weight: 400;
                                    color: #7E7E7E;
                                    height: 40px;
                                    display: flex;
                                    align-items: center;
                                }

                                .txt {
                                    line-height: 24px;
                                    font-size: 20px;
                                    font-family: 'Bertha-Regular';
                                    font-weight: 400;
                                    color: #FFFFFF;
                                    margin-top: 20px;
                                }

                                .price {
                                    line-height: 40px;
                                    display: flex;
                                    align-items: center;

                                    img {
                                        width: 24px;
                                        display: block;
                                    }

                                    span {
                                        margin-left: 8px;
                                        font-size: 24px;
                                    }
                                }

                                .time {
                                    font-size: 20px;
                                    font-family: 'Bertha-Regular';
                                    font-weight: 400;
                                    color: #A0A0A0;
                                    margin-top: 20px;
                                }
                            }

                        }
                    }

                    .noData {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 50px 0;

                        img {
                            width: 90px;
                        }

                        p {
                            font-size: 24px;
                            font-family: 'DIN-Alternate-Bold';
                            font-weight: 400;
                            color: #3F4A57;
                            margin-top: 12px;
                        }
                    }
                }
            }
        }
    }
}

// 弹框
.model-model-walletGemDetails {
    .adm-center-popup-wrap {
        width: 100%;

        .adm-center-popup-body {
            width: 100%;
            background: #2B2B2B;

            .model_box {
                padding: 30px 30px 30px;

                .hero_img {
                    height: 220px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        height: 90%;
                    }
                }

                .input_wrap {
                    width: 100%;
                    height: 60px;
                    background: #151515;
                    border-radius: 6px 6px 6px 6px;
                    border: 1px solid #707070;
                    display: flex;
                    align-items: center;
                    padding: 0 15px;

                    .ant-input {
                        height: 30px;
                        color: #fff;
                        font-size: 14px;
                        font-family: 'DIN-Alternate-Bold';
                        background: transparent;
                        border: none;
                        box-shadow: none;
                        padding: 0;
                    }
                }

                .btn_wrap {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;

                    .btn {
                        width: 100%;
                        height: 55px;
                        border-radius: 6px;

                        span {
                            font-size: 24px;
                            font-family: 'DIN-Alternate-Bold';
                            font-weight: bold;
                            color: #FFFFFF;
                        }
                    }

                    .btn1 {
                        background: #367CFF;
                    }

                    .btn2 {
                        background: #367CFF;
                        opacity: 0.24;
                    }

                }

                .des {
                    font-size: 18px;
                    font-family: 'DIN-Alternate-Bold';
                    font-weight: bold;
                    color: #A0A0A0;
                    text-align: center;
                    margin-top: 25px;
                }
            }
        }
    }
}